 nav#nav-bar {
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  width: 100%;
  padding: 0px 2em 0px 2em;
  z-index: 10px;

}


nav#nav-bar > img.logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  margin: 20px;
  font-size: 30px;
  line-height: 40px;
}


#nav-bar .compose {
  float: right;
  margin-top: 9px;
  border-radius: 5px;
  padding: 20px;
  transition-duration: 0.4s;
}

.compose:hover {
background-color: #4CAF50;

}