.new-tweet h2 {
  border-bottom: 2px solid;
  text-align: left;
  }

  .redText {
    color: #F00;
  }


.new-tweet {
  border: 1px;
  border-radius: 6px;
  padding: 10px;
  margin: 2em;
  background-color: #e9ecef;
  padding-bottom: 35px;
}


.new-tweet textarea {
  width: 100%;
  padding: 5px 6px 5px 10px;
}


.new-tweet input {
  float: left;
  padding-top: 2px;
}


.new-tweet .counter {
  float: right;
  padding-top: 2px;

}